html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent vertical and horizontal scroll */
  height: 100%;
}

/* Homepage container */
.homepage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: calc(100vh - 80px);
  background-color: #f7f7f7;
}

/* Overview section */
.homepage-overview {
  flex: 1;
  padding-right: 2rem;
  margin-bottom: 70px;
}

.homepage-overview h1 {
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 1rem;
}

.typewriter-text {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  width: 100%; 
  min-height: 50px; /* Ensure a consistent height for the text */
}

/* Typewriter animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.get-started-btn {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.get-started-btn:hover {
  background-color: #0056b3;
}

/* Illustration section */
.homepage-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.homepage-illustration img {
  max-width: 100%;
  height: auto;
}

.btns {
  margin-top: 20px;
}

.btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid 007bff;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.btns button:first-child {
  color: #007bff;
  background: none;
}

.btns button:first-child:hover {
  background: #007bff;
  color: black;
}

.btns button:last-child {
  background: #007bff;
  color: black;
}
