/* General container styles */
.register-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: 'Arial', sans-serif;
}

.register-form-container {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 700px;
  margin-right: 50px;
  margin-bottom: 100px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: black;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 0 0 48%; /* Take up about half the space with a gap */
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-link {
  text-align: center;
  margin-top: 1.5rem;
  color: black;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Image side */
.register-image-container {
  width: 50%;
  text-align: center;
  padding: 2rem;
  margin-bottom: 50px;
}

.register-image-container img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}
