.inventory-page {
  /* padding: 20px; */
  padding-left: 300px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plus-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.plus-button:hover {
  background-color: #0056b3;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal h2 {
  margin-top: 0;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.item-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.item-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure content is centered */
  text-align: center; /* Center text alignment */
}

.item-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px; /* Add margin to space the image from the title */
}

.item-card h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.item-card p {
  font-size: 1em;
  color: #666;
  margin: 0;
}
